/*------------------------------------
 SCREENS 1160px AND SMALLER
-------------------------------------- */
@media (max-width: 1160px) {
    .contact-section {
        padding-top: 12rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contact-section h1 {
        font-size: 2.5em;
        margin-bottom: 0rem;
    }
    .intro-text {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .map-section {
        width: 203%;
    }
    .map-container {
        width: 100%;
        border-radius: 12px;
    }
    .map {
        width: 98%;
        padding-left: 0.5rem;
    }
}


/*------------------------------------
 SCREENS 1080px AND SMALLER
-------------------------------------- */
@media (max-width: 1080px) {
    .contact-section {
        padding-top: 12rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contact-section h1 {
        font-size: 2.5em;
        margin-bottom: 0rem;
    }
    .intro-text {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .map-section {
        width: 203%;
    }
    .map-container {
        width: 100%;
        border-radius: 12px;
    }
    .map {
        width: 98%;
        padding-left: 0.5rem;
    }
}


/*------------------------------------
 SCREENS 1000px AND SMALLER
-------------------------------------- */
@media (max-width: 1000px) {
    .contact-section {
        padding-top: 11rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contact-section h1 {
        font-size: 2.5em;
        margin-bottom: 0rem;
    }
    .intro-text {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .map-section {
        width: 206%;
    }
    .map-container {
        width: 100%;
        border-radius: 12px;
    }
    .map {
        width: 98%;
        padding-left: 0.5rem;
    }
}


/*------------------------------------
 SCREENS 920px AND SMALLER
-------------------------------------- */
@media (max-width: 920px) {
    .contact-section {
        padding-top: 11rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contact-section h1 {
        font-size: 2.5em;
        margin-bottom: 0rem;
    }
    .intro-text {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .map-section {
        width: 206%;
    }
    .map-container {
        width: 100%;
        border-radius: 12px;
    }
    .map {
        width: 98%;
        padding-left: 0.5rem;
    }
}


/*------------------------------------
 SCREENS 840px AND SMALLER
-------------------------------------- */
@media (max-width: 840px) {
    .contact-section {
        padding-top: 10rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contact-section h1 {
        font-size: 2.5em;
        margin-bottom: 0rem;
    }
    .intro-text {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .map-section {
        width: 206%;
    }
    .map-container {
        width: 100%;
        border-radius: 12px;
    }
    .map {
        width: 98%;
        padding-left: 0.5rem;
    }
}


/*------------------------------------
 SCREENS 780px AND SMALLER
-------------------------------------- */
@media (max-width: 780px) {
    .contact-section {
        padding-top: 10rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contact-section h1 {
        font-size: 2.5em;
        margin-bottom: 0rem;
    }
    .intro-text {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .map-section {
        width: 206%;
    }
    .map-container {
        width: 100%;
        border-radius: 12px;
    }
    .map {
        width: 98%;
        padding-left: 0.5rem;
    }
}


/*------------------------------------
 SCREENS 700px AND SMALLER
-------------------------------------- */
@media (max-width: 700px) {
    .contact-section {
        padding-top: 10rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contact-section h1 {
        font-size: 2.5em;
        margin-bottom: 0rem;
    }
    .intro-text {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .map-section {
        width: 97%;
    }
    .map-container {
        width: 100%;
        border-radius: 12px;
    }
    .map {
        width: 98%;
        padding-left: 0.2rem;
    }
}



/*------------------------------------
 SCREENS 620px AND SMALLER
-------------------------------------- */
@media (max-width: 620px) {
    .contact-section {
        padding-top: 10rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contact-section h1 {
        font-size: 1.62rem;
        margin-bottom: 0rem;
    }
    .intro-text {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .map-container {
        width: 100%;
        border-radius: 12px;
    }
    .map {
        width: 98%;
        padding-left: 0.2rem;
    }
}


/*------------------------------------
 SCREENS 560px AND SMALLER
-------------------------------------- */
@media (max-width: 560px) {
    .contact-section {
        padding-top: 10rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contact-section h1 {
        font-size: 1.62rem;
        margin-bottom: 0rem;
    }
    .intro-text {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .map-container {
        width: 100%;
        border-radius: 12px;
    }
    .map {
        width: 98%;
        padding-left: 0.2rem;
    }
}


/*------------------------------------
 SCREENS 480px AND SMALLER
-------------------------------------- */
@media (max-width: 480px) {
    .contact-section {
        padding-top: 9rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;    }

    .contact-section h1 {
        font-size: 1.62rem;
        margin-bottom: 0rem;
    }
    .intro-text {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .map-container {
        width: 100%;
        border-radius: 12px;
    }
    .map {
        width: 98%;
        padding-left: 0.2rem;
    }
}


/*------------------------------------
 SCREENS 400px AND SMALLER
-------------------------------------- */
@media (max-width: 400px) {
    .contact-section {
        padding-top: 9rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contact-section h1 {
        font-size: 1.62rem;
        margin-bottom: 0rem;
    }
    .intro-text {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .map-container {
        width: 100%;
        border-radius: 12px;
    }
    .map {
        width: 98%;
        padding-left: 0.2rem;
    }
}
