/*------------------------------------
 SCREENS 1000px AND SMALLER
-------------------------------------- */
@media (max-width: 1000px) {
    /*---Intro Section---*/
    .intro-section {
        margin-top: 17vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .intro-header {
        letter-spacing: 0.5px;
        font-size: 3rem;
        margin-bottom: 0rem;
    }
    .intro-txt {
        font-size: 1.5rem;
        line-height: 1.6;
    }

    /*---FAQ Section---*/
    .faq-section {
        padding-top: 2.7%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .faq-container {
        gap: 1.5rem;
        margin: 0 auto 3.7rem;
    }
    .faq-card {
        border-radius: 15px;
        padding: 1rem 2rem;
    }
    .faq-icon {
        font-size: 2.75rem;
        margin-bottom: 1rem;
    }
    .faq-title {
        font-size: 1.85rem;
    }
    .faq-answer {
        font-size: 1.1rem;
    }
}


/*------------------------------------
 SCREENS 920px AND SMALLER
-------------------------------------- */
@media (max-width: 920px) {
    /*---Intro Section---*/
    .intro-section {
        margin-top: 17vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .intro-header {
        letter-spacing: 0.5px;
        font-size: 3rem;
        margin-bottom: 0rem;
    }
    .intro-txt {
        font-size: 1.5rem;
        line-height: 1.6;
    }

    /*---FAQ Section---*/
    .faq-section {
        padding-top: 2.7%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .faq-container {
        gap: 1.5rem;
        margin: 0 auto 3.7rem;
    }
    .faq-card {
        border-radius: 15px;
        padding: 1rem 2rem;
    }
    .faq-icon {
        font-size: 2.75rem;
        margin-bottom: 1rem;
    }
    .faq-title {
        font-size: 1.85rem;
    }
    .faq-answer {
        font-size: 1.1rem;
    }
}


/*------------------------------------
 SCREENS 860px AND SMALLER
-------------------------------------- */
@media (max-width: 860px) {
    /*---Intro Section---*/
    .intro-section {
        margin-top: 16vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .intro-header {
        letter-spacing: 0.5px;
        font-size: 3rem;
        margin-bottom: 0rem;
    }
    .intro-txt {
        font-size: 1.3rem;
        line-height: 1.6;
    }

    /*---FAQ Section---*/
    .faq-section {
        padding-top: 2.7%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .faq-container {
        gap: 1.5rem;
        margin: 0 auto 3.7rem;
    }
    .faq-card {
        border-radius: 15px;
        padding: 1rem 2rem;
    }
    .faq-icon {
        font-size: 2.75rem;
        margin-bottom: 1rem;
    }
    .faq-title {
        font-size: 1.85rem;
    }
    .faq-answer {
        font-size: 1.1rem;
    }
}


/*------------------------------------
 SCREENS 780px AND SMALLER
-------------------------------------- */
@media (max-width: 780px) {
    /*---Intro Section---*/
    .intro-section {
        margin-top: 16vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .intro-header {
        letter-spacing: 0.5px;
        font-size: 3rem;
        margin-bottom: 0rem;
    }
    .intro-txt {
        font-size: 1.3rem;
        line-height: 1.6;
    }

    /*---FAQ Section---*/
    .faq-section {
        padding-top: 2.7%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .faq-container {
        gap: 1.5rem;
        margin: 0 auto 3.7rem;
    }
    .faq-card {
        border-radius: 15px;
        padding: 1rem 2rem;
    }
    .faq-icon {
        font-size: 2.75rem;
        margin-bottom: 1rem;
    }
    .faq-title {
        font-size: 1.85rem;
    }
    .faq-answer {
        font-size: 1.1rem;
    }
}


/*------------------------------------
 SCREENS 700px AND SMALLER
-------------------------------------- */
@media (max-width: 700px) {
    /*---Intro Section---*/
    .intro-section {
        margin-top: 16vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .intro-header {
        letter-spacing: 0.5px;
        font-size: 3rem;
        margin-bottom: 0rem;
    }
    .intro-txt {
        font-size: 1.3rem;
        line-height: 1.6;
    }

    /*---FAQ Section---*/
    .faq-section {
        padding-top: 2.7%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .faq-container {
        gap: 1.5rem;
        margin: 0 auto 3.7rem;
    }
    .faq-card {
        border-radius: 15px;
        padding: 1rem 2rem;
    }
    .faq-icon {
        font-size: 2.75rem;
        margin-bottom: 1rem;
    }
    .faq-title {
        font-size: 1.85rem;
    }
    .faq-answer {
        font-size: 1.1rem;
    }
}


/*------------------------------------
 SCREENS 620px AND SMALLER
-------------------------------------- */
@media (max-width: 620px) {
    /*---Intro Section---*/
    .intro-section {
        margin-top: 16vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .intro-header {
        letter-spacing: 0.5px;
        font-size: 3rem;
        margin-bottom: 0rem;
    }
    .intro-txt {
        font-size: 1.5rem;
        line-height: 1.6;
    }

    /*---FAQ Section---*/
    .faq-section {
        padding-top: 2.7%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .faq-container {
        gap: 1.5rem;
        margin: 0 auto 3.7rem;
    }
    .faq-card {
        border-radius: 15px;
        padding: 1rem 2rem;
    }
    .faq-icon {
        font-size: 2.75rem;
        margin-bottom: 1rem;
    }
    .faq-title {
        font-size: 1.85rem;
    }
    .faq-answer {
        font-size: 1.1rem;
    }
}


/*------------------------------------
 SCREENS 560px AND SMALLER
-------------------------------------- */
@media (max-width: 560px) {
    /*---Intro Section---*/
    .intro-section {
        margin-top: 15vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .intro-header {
        letter-spacing: 0.5px;
        font-size: 2.34rem;
        margin-bottom: 0rem;
    }
    .intro-txt {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    /*---FAQ Section---*/
    .faq-section {
        padding-top: 2.7%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .faq-container {
        gap: 1.5rem;
        margin: 0 auto 3.7rem;
    }
    .faq-card {
        border-radius: 15px;
        padding: 1rem 2rem;
    }
    .faq-icon {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .faq-title {
        font-size: 1.25rem;
    }
    .faq-answer {
        font-size: 0.95rem;
    }
}


/*------------------------------------
 SCREENS 480px AND SMALLER
-------------------------------------- */
@media (max-width: 480px) {
    /*---Intro Section---*/
    .intro-section {
        margin-top: 15vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .intro-header {
        letter-spacing: 0.5px;
        font-size: 2.34rem;
        margin-bottom: 0rem;
    }
    .intro-txt {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    /*---FAQ Section---*/
    .faq-section {
        padding-top: 2.7%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .faq-container {
        gap: 1.5rem;
        margin: 0 auto 3.7rem;
    }
    .faq-card {
        border-radius: 15px;
        padding: 1rem 2rem;
    }
    .faq-icon {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .faq-title {
        font-size: 1.25rem;
    }
    .faq-answer {
        font-size: 0.95rem;
    }
}


/*------------------------------------
 SCREENS 400px AND SMALLER
-------------------------------------- */
@media (max-width: 400px) {
    /*---Intro Section---*/
    .intro-section {
        margin-top: 15vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .intro-header {
        letter-spacing: 0.5px;
        font-size: 2.34rem;
        margin-bottom: 0rem;
    }
    .intro-txt {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    /*---FAQ Section---*/
    .faq-section {
        padding-top: 2.7%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .faq-container {
        gap: 1.5rem;
        margin: 0 auto 3.7rem;
    }
    .faq-card {
        border-radius: 15px;
        padding: 1rem 2rem;
    }
    .faq-icon {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .faq-title {
        font-size: 1.25rem;
    }
    .faq-answer {
        font-size: 0.95rem;
    }
}