
@media (max-width: 1140px) {
  :root {
    --banner-font-size: 4rem;
    --header-size: 3rem;
    --subheader-size: 1.75rem;
    --body-size: 1.2rem;
  }
}
@media (max-width: 1080px) {
  :root {
    --banner-font-size: 4rem;
    --header-size: 2.5rem;
    --subheader-size: 1.5rem;
    --body-size: 1.1rem;
  }
}
@media (max-width: 1000px) {
  :root {
    --banner-font-size: 4rem;
    --header-size: 1.8rem;
    --subheader-size: 1.4rem;
    --body-size: 1rem;
  }
}
@media (max-width: 920px) {
  :root {
    --banner-font-size: 3.5rem;
    --header-size: 1.8rem;
    --subheader-size: 1.4rem;
    --body-size: 1rem;
  }
}
@media (max-width: 840px) {
  :root {
    --banner-font-size: 3.5rem;
    --header-size: 1.8rem;
    --subheader-size: 1.4rem;
    --body-size: 1rem;
  }
}
@media (max-width: 780px) {
  :root {
    --banner-font-size: 2.8rem;
    --header-size: 1.8rem;
    --subheader-size: 1.4rem;
    --body-size: 1rem;
  }
}
@media (max-width: 700px) {
  :root {
    --banner-font-size: 2.8rem;
    --header-size: 1.8rem;
    --subheader-size: 1.4rem;
    --body-size: 1rem;
  }
}
@media (max-width: 620px) {
  :root {
    --banner-font-size: 2.5rem;
    --header-size: 1.8rem;
    --subheader-size: 1.4rem;
    --body-size: 1rem;
  }
}
@media (max-width: 560px) {
  :root {
    --banner-font-size: 2.1rem;
    --header-size: 1.8rem;
    --subheader-size: 1.4rem;
    --body-size: 1rem;
  }
}
@media (max-width: 480px) {
  :root {
    --banner-font-size: 1.7rem;
    --header-size: 1.8rem;
    --subheader-size: 1.4rem;
    --body-size: 1rem;
  }
}
@media (max-width: 400px) {
  :root {
    --banner-font-size: 1.7rem;
    --header-size: 1.8rem;
    --subheader-size: 1.4rem;
    --body-size: 1rem;
  }
}
