/*------------------------------------
 SCREENS 1080px AND SMALLER
-------------------------------------- */
@media (max-width: 1080px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 17vh;
        padding: 1rem 2rem;
    }
    .content h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .content p {
        font-size: 1.35rem;
        margin-bottom: 1rem;
        line-height: 1.4;
    }

    /*---Photo Grid Section---*/
    .photo-gallery {
        margin-top: 3.5vh;
        margin-left: 0.2%;
    }
    .photo-grid {
        gap: 1rem 3%;
        padding-top: 2.7%;
        padding-bottom: 2.7%;
    }
    .photo-grid img {
        width: calc(32% - 1%); 
        height: 450px;
        max-width: 100%;
        border-radius: 15px;
    }
}


/*------------------------------------
 SCREENS 1000px AND SMALLER
-------------------------------------- */
@media (max-width: 1000px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 16vh;
        padding: 1rem 2rem;
    }
    .content h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .content p {
        font-size: 1.35rem;
        margin-bottom: 1rem;
        line-height: 1.4;
    }

    /*---Photo Grid Section---*/
    .photo-gallery {
        margin-top: 3.5vh;
        margin-left: 0.2%;
    }
    .photo-grid {
        gap: 1rem 3%;
        padding-top: 2.7%;
        padding-bottom: 2.7%;
    }
    .photo-grid img {
        width: calc(48% - 1%);
        height: 450px;
        max-width: 100%;
        border-radius: 15px;
    }
}


/*------------------------------------
 SCREENS 920px AND SMALLER
-------------------------------------- */
@media (max-width: 920px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 16vh;
        padding: 1rem 2rem;
    }
    .content h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .content p {
        font-size: 1.35rem;
        margin-bottom: 1rem;
        line-height: 1.4;
    }

    /*---Photo Grid Section---*/
    .photo-gallery {
        margin-top: 3.5vh;
        margin-left: 0.2%;
    }
    .photo-grid {
        gap: 1rem 3%;
        padding-top: 2.7%;
        padding-bottom: 2.7%;
    }
    .photo-grid img {
        width: calc(48% - 1%);
        height: 450px;
        max-width: 100%;
        border-radius: 15px;
    }
}


/*------------------------------------
 SCREENS 860px AND SMALLER
-------------------------------------- */
@media (max-width: 860px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 15vh;
        padding: 1rem 2rem;
    }
    .content h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .content p {
        font-size: 1.35rem;
        margin-bottom: 1rem;
        line-height: 1.4;
    }

    /*---Photo Grid Section---*/
    .photo-gallery {
        margin-top: 3.5vh;
        margin-left: 0.2%;
    }
    .photo-grid {
        gap: 1rem 3%;
        padding-top: 2.7%;
        padding-bottom: 2.7%;
    }
    .photo-grid img {
        width: calc(48% - 1%);
        height: 450px;
        max-width: 100%;
        border-radius: 15px;
    }
}


/*------------------------------------
 SCREENS 780px AND SMALLER
-------------------------------------- */
@media (max-width: 780px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 15vh;
        padding: 1rem 2rem;
    }
    .content h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .content p {
        font-size: 1.35rem;
        margin-bottom: 1rem;
        line-height: 1.4;
    }

    /*---Photo Grid Section---*/
    .photo-gallery {
        margin-top: 3.5vh;
        margin-left: 0.2%;
    }
    .photo-grid {
        gap: 1rem 3%;
        padding-top: 2.7%;
        padding-bottom: 2.7%;
    }
    .photo-grid img {
        width: calc(48% - 1%);
        height: 450px;
        max-width: 100%;
        border-radius: 15px;
    }
}


/*------------------------------------
 SCREENS 700px AND SMALLER
-------------------------------------- */
@media (max-width: 700px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 15vh;
        padding: 1rem 2rem;
    }
    .content h1 {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
    .content p {
        font-size: 1.18rem;
        margin-bottom: 1rem;
        line-height: 1.4;
    }

    /*---Photo Grid Section---*/
    .photo-gallery {
        margin-top: 3.5vh;
        margin-left: 0.2%;
    }
    .photo-grid {
        gap: 1rem 3%;
        padding-top: 2.7%;
        padding-bottom: 2.7%;
    }
    .photo-grid img {
        width: calc(48% - 1%);
        height: 450px;
        max-width: 100%;
        border-radius: 15px;
    }
}


/*------------------------------------
 SCREENS 620px AND SMALLER
-------------------------------------- */
@media (max-width: 620px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 15vh;
        padding: 1rem 2rem;
    }
    .content h1 {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
    .content p {
        font-size: 1.18rem;
        margin-bottom: 1rem;
        line-height: 1.4;
    }

    /*---Photo Grid Section---*/
    .photo-gallery {
        margin-top: 3.5vh;
        margin-left: 0.2%;
    }
    .photo-grid {
        gap: 1rem 3%;
        padding-top: 2.7%;
        padding-bottom: 2.7%;
    }
    .photo-grid img {
        width: calc(48% - 1%);
        height: 450px;
        max-width: 100%;
        border-radius: 15px;
    }
}


/*------------------------------------
 SCREENS 560px AND SMALLER
-------------------------------------- */
@media (max-width: 560px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 15vh;
        padding: 1rem 2rem;
    }
    .content h1 {
        font-size: 1.38rem;
        margin-bottom: 1rem;
    }
    .content p {
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 1.4;
    }

    /*---Photo Grid Section---*/
    .photo-gallery {
        margin-top: 3.5vh;
        margin-left: 0.2%;
    }
    .photo-grid {
        gap: 1rem 3%;
        padding-top: 2.7%;
        padding-bottom: 2.7%;
    }
    .photo-grid img {
        width: calc(48% - 1%);
        height: 375px;
        max-width: 100%;
        border-radius: 15px;
    }
}


/*------------------------------------
 SCREENS 480px AND SMALLER
-------------------------------------- */
@media (max-width: 480px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 15vh;
        padding: 1rem 2rem;
    }
    .content h1 {
        font-size: 1.38rem;
        margin-bottom: 1rem;
    }
    .content p {
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 1.4;
    }

    /*---Photo Grid Section---*/
    .photo-gallery {
        margin-top: 3.5vh;
        margin-left: 0.2%;
    }
    .photo-grid {
        gap: 1rem 3%;
        padding-top: 2.7%;
        padding-bottom: 2.7%;
    }
    .photo-grid img {
        width: calc(48% - 1%);
        height: 350px;
        max-width: 100%;
        border-radius: 15px;
    }
}


/*------------------------------------
 SCREENS 400px AND SMALLER
-------------------------------------- */
@media (max-width: 400px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 13vh;
        padding: 1rem 2rem;
    }
    .content h1 {
        font-size: 1.38rem;
        margin-bottom: 1rem;
    }
    .content p {
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 1.4;
    }

    /*---Photo Grid Section---*/
    .photo-gallery {
        margin-top: 3.5vh;
        margin-left: 0.2%;
    }
    .photo-grid {
        gap: 1rem 3%;
        padding-top: 2.7%;
        padding-bottom: 2.7%;
    }
    .photo-grid img {
        width: calc(48% - 1%);
        height: 325px;
        max-width: 100%;
        border-radius: 15px;
    }
}