/*------------------------------------
 SCREENS 1001px AND BIGGER
-------------------------------------- */
@media (min-width: 1001px) {
    /*---Header Section---*/
    header {
        padding-left: 0rem;
        padding-right: 2rem;
    }
    .header-nav {
        gap: 0.0rem;
    }
    .nav-left,
    .nav-right {
        gap: 2rem;
        padding: 0;
    }
    .front-page-logo {
        height: 13vh;
    }
    header nav ul li {
        margin: 0 0.5rem;
    }
    header nav ul li a {
        font-size: 1.6rem;
    }

    /*---Footer Section---*/
    .footer {
        padding: 0.9rem;
    }
    .footer-content {
        gap: 1.8rem;
        margin-bottom: 1.75vh;
    }
    .facebook {
        padding-top: 1vh;
    }
    .facebook button {
        font-size: 1.1rem;
        padding: 5px 0px;
    }
    .call-us-text {
        font-size: 1.1rem;
    }
    .email-text {
        font-size: 1.3rem;
    }
    .copyright {
        font-size: 0.9rem;
    }
    .credit-text {
        font-size: 0.6rem;
        margin: 5px 0 0 0;
    }
}


/*------------------------------------
 SCREENS 1000px AND SMALLER
-------------------------------------- */
@media (max-width: 1000px) {
    /*---Header Section---*/
    header {
        padding-left: 0rem;
        padding-right: 2rem;
    }
    .header-nav {
        gap: 0.0rem;
    }
    .nav-left,
    .nav-right {
        gap: 2rem;
        padding: 0;
    }
    .front-page-logo {
        height: 12vh;
    }
    header nav ul li {
        margin: 0 0.5rem;
    }
    header nav ul li a {
        font-size: 1.6rem;
    }

    /*---Footer Section---*/
    .footer {
        padding: 0.9rem;
    }
    .footer-content {
        gap: 1.7rem;
        margin-bottom: 1.75vh;
    }
    .facebook {
        padding-top: 1vh;
    }
    .facebook button {
        font-size: 0.95rem;
        padding: 5px 0px;
    }
    .call-us-text {
        font-size: 1rem;
    }
    .email-text {
        font-size: 1.1rem;
    }
    .copyright {
        font-size: 0.9rem;
    }
    .credit-text {
        font-size: 0.55rem;
        margin: 5px 0 0 0;
    }
}


/*------------------------------------
 SCREENS 920px AND SMALLER
-------------------------------------- */
@media (max-width: 920px) {
    /*---Header Section---*/
    header {
        padding-left: 0rem;
        padding-right: 2rem;
    }
    .header-nav {
        gap: 0.0rem;
    }
    .nav-left,
    .nav-right {
        gap: 2rem;
        padding: 0;
    }
    .front-page-logo {
        height: 12vh;
    }
    header nav ul li {
        margin: 0 0.5rem;
    }
    header nav ul li a {
        font-size: 1.6rem;
    }

    /*---Footer Section---*/
    .footer {
        padding: 0.9rem;
    }
    .footer-content {
        gap: 1.7rem;
        margin-bottom: 1.75vh;
    }
    .facebook {
        padding-top: 1vh;
    }
    .facebook button {
        font-size: 0.95rem;
        padding: 5px 0px;
    }
    .call-us-text {
        font-size: 1rem;
    }
    .email-text {
        font-size: 1.1rem;
    }
    .copyright {
        font-size: 0.9rem;
    }
    .credit-text {
        font-size: 0.55rem;
        margin: 5px 0 0 0;
    }
}


/*------------------------------------
 SCREENS 860px AND SMALLER
-------------------------------------- */
@media (max-width: 860px) {
    /*---Header Section---*/
    header {
        padding-left: 0rem;
        padding-right: 1.5rem;
    }
    .header-nav {
        gap: 0.0rem;
    }
    .nav-left,
    .nav-right {
        gap: 1rem;
        padding: 0;
    }
    .front-page-logo {
        height: 11vh;
    }
    header nav ul li {
        margin: 0 0.5rem;
    }
    header nav ul li a {
        font-size: 1.5rem;
    }

    /*---Footer Section---*/
    .footer {
        padding: 0.9rem;
    }
    .footer-content {
        gap: 1.7rem;
        margin-bottom: 1.75vh;
    }
    .facebook {
        padding-top: 1vh;
    }
    .facebook button {
        font-size: 0.95rem;
        padding: 5px 0px;
    }
    .call-us-text {
        font-size: 1rem;
    }
    .email-text {
        font-size: 1.1rem;
    }
    .copyright {
        font-size: 0.9rem;
    }
    .credit-text {
        font-size: 0.55rem;
        margin: 5px 0 0 0;
    }
}


/*------------------------------------
 SCREENS 780px AND SMALLER
-------------------------------------- */
@media (max-width: 780px) {
    /*---Header Section---*/
    header {
        padding-left: 0rem;
        padding-right: 1.5rem;
    }
    .header-nav {
        gap: 0.0rem;
    }
    .nav-left,
    .nav-right {
        gap: 1rem;
        padding: 0;
    }
    .front-page-logo {
        height: 11vh;
    }
    header nav ul li {
        margin: 0 0.5rem;
    }
    header nav ul li a {
        font-size: 1.5rem;
    }

    /*---Footer Section---*/
    .footer {
        padding: 0.9rem;
    }
    .footer-content {
        gap: 1.7rem;
        margin-bottom: 1.75vh;
    }
    .facebook {
        padding-top: 1vh;
    }
    .facebook button {
        font-size: 0.95rem;
        padding: 5px 0px;
    }
    .call-us-text {
        font-size: 1rem;
    }
    .email-text {
        font-size: 1.1rem;
    }
    .copyright {
        font-size: 0.9rem;
    }
    .credit-text {
        font-size: 0.55rem;
        margin: 5px 0 0 0;
    }
}


/*------------------------------------
 SCREENS 700px AND SMALLER
-------------------------------------- */
@media (max-width: 700px) {
    /*---Header Section---*/
    header {
        padding-left: 0rem;
        padding-right: 1rem;
    }
    .header-nav {
        gap: 0.0rem;
    }
    .nav-left,
    .nav-right {
        gap: 0.3rem;
        padding: 0;
    }
    .front-page-logo {
        height: 10vh;
    }
    header nav ul li {
        margin: 0 0.3rem;
    }
    header nav ul li a {
        font-size: 1.3rem;
    }

    /*---Footer Section---*/
    .footer {
        padding: 0.9rem;
    }
    .footer-content {
        gap: 1.7rem;
        margin-bottom: 1.75vh;
    }
    .facebook {
        padding-top: 1vh;
    }
    .facebook button {
        font-size: 0.95rem;
        padding: 5px 0px;
    }
    .call-us-text {
        font-size: 1rem;
    }
    .email-text {
        font-size: 1.1rem;
    }
    .copyright {
        font-size: 0.8rem;
    }
    .credit-text {
        font-size: 0.5rem;
        margin: 5px 0 0 0;
    }
}


/*------------------------------------
 SCREENS 620px AND SMALLER
-------------------------------------- */
@media (max-width: 620px) {
    /*---Header Section---*/
    header {
        padding-left: 0rem;
        padding-right: 1rem;
    }
    .header-nav {
        gap: 0.0rem;
    }
    .nav-left,
    .nav-right {
        gap: 0.3rem;
        padding: 0;
    }
    .front-page-logo {
        height: 10vh;
    }
    header nav ul li {
        margin: 0 0.3rem;
    }
    header nav ul li a {
        font-size: 1.2rem;
    }

    /*---Footer Section---*/
    .footer {
        padding: 0.9rem;
    }
    .footer-content {
        gap: 1.7rem;
        margin-bottom: 1.75vh;
    }
    .facebook {
        padding-top: 1vh;
    }
    .facebook button {
        font-size: 0.95rem;
        padding: 5px 0px;
    }
    .call-us-text {
        font-size: 1rem;
    }
    .email-text {
        font-size: 1.1rem;
    }
    .copyright {
        font-size: 0.8rem;
    }
    .credit-text {
        font-size: 0.5rem;
        margin: 5px 0 0 0;
    }
}


/*------------------------------------
 SCREENS 560px AND SMALLER
-------------------------------------- */
@media (max-width: 560px) {
    /*---Header Section---*/
    header {
        padding-left: 0rem;
        padding-right: 1rem;
    }
    .header-nav {
        gap: 0.0rem;
    }
    .nav-left,
    .nav-right {
        gap: 0.3rem;
        padding: 0;
    }
    .front-page-logo {
        height: 10vh;
    }
    header nav ul li {
        margin: 0 0.3rem;
    }
    header nav ul li a {
        font-size: 1.2rem;
    }

    /*---Footer Section---*/
    .footer {
        padding: 0.9rem;
    }
    .footer-content {
        gap: 1.7rem;
        margin-bottom: 1.75vh;
    }
    .facebook {
        padding-top: 1vh;
    }
    .facebook button {
        font-size: 0.95rem;
        padding: 5px 0px;
    }
    .call-us-text {
        font-size: 1rem;
    }
    .email-text {
        font-size: 1.1rem;
    }
    .copyright {
        font-size: 0.8rem;
    }
    .credit-text {
        font-size: 0.5rem;
        margin: 5px 0 0 0;
    }
}


/*------------------------------------
 SCREENS 480px AND SMALLER
-------------------------------------- */
@media (max-width: 480px) {
    /*---Header Section---*/
    header {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .header-nav {
        gap: 0.0rem;
    }
    .nav-left,
    .nav-right {
        gap: 0.3rem;
        padding: 0;
    }
    .front-page-logo {
        height: 9vh;
    }
    header nav ul li {
        margin: 0 0.3rem;
    }
    header nav ul li a {
        font-size: 1.1rem;
    }

    /*---Footer Section---*/
    .footer {
        padding: 0.9rem;
    }
    .footer-content {
        gap: 1.7rem;
        margin-bottom: 1.75vh;
    }
    .facebook {
        padding-top: 1vh;
    }
    .facebook button {
        font-size: 0.95rem;
        padding: 5px 0px;
    }
    .call-us-text {
        font-size: 1rem;
    }
    .email-text {
        font-size: 1.1rem;
    }
    .copyright {
        font-size: 0.8rem;
    }
    .credit-text {
        font-size: 0.5rem;
        margin: 5px 0 0 0;
    }
}


/*------------------------------------
 SCREENS 400px AND SMALLER
-------------------------------------- */
@media (max-width: 400px) {
    /*---Header Section---*/
    header {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .header-nav {
        gap: 0.0rem;
    }
    .nav-left,
    .nav-right {
        gap: 0.3rem;
        padding: 0;
    }
    .front-page-logo {
        height: 8.5vh;
    }
    header nav ul li {
        margin: 0 0.3rem;
    }
    header nav ul li a {
        font-size: 1rem;
    }

    /*---Footer Section---*/
    .footer {
        padding: 0.6rem;
    }
    .footer-content {
        gap: 2rem;
        margin-bottom: 1.75vh;
    }
    .facebook {
        padding-top: 1vh;
    }
    .facebook button {
        font-size: 0.95rem;
        padding: 0px 0;
    }
    .call-us-text {
        font-size: 1rem;
    }
    .email-text {
        font-size: 1.1rem;
    }
    .copyright {
        font-size: 0.8rem;
    }
    .credit-text {
        font-size: 0.5rem;
        margin: 5px 0 0 0;
    }
}
