/*------------------------------------
 SCREENS 1080px AND SMALLER
-------------------------------------- */
@media (max-width: 1080px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 16vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }   
    .intro-header {
        font-size: 3rem;
        margin-bottom: 1rem;
        padding-left: 7rem;
        padding-right: 7rem;
    }
    .intro-txt{
        font-size: 1.3rem;
        line-height: 1.5;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    /*---Price Section---*/
    .price-section {
        padding-top: 1.5vh;
        padding-bottom: 2vh;
    }
    .price-container {
        gap: 1.5rem;
    }

    .price-card {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .price-title {
        font-size: 1.4rem;
        margin-bottom: 0rem;
    }
    .price-location {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
    .price-price {
        font-size: 1.25rem;
        margin-bottom: 3rem;
    }
    .price-button {
        font-size: 1.1rem;
    }
    .price-icon {
        font-size: 3.5rem;
    }
}


/*------------------------------------
 SCREENS 1000px AND SMALLER
-------------------------------------- */
@media (max-width: 1000px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 15vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }   
    .intro-header {
        font-size: 3.1rem;
        margin-bottom: 1rem;
    }
    .intro-txt{
        font-size: 1.3rem;
        line-height: 1.6;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /*---Price Section---*/
    .price-section {
        padding-top: 1.5vh;
        padding-bottom: 2vh;
    }
    .price-container {
        gap: 1.5rem;
    }

    .price-card {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .price-title {
        font-size: 1.4rem;
        margin-bottom: 0rem;
    }
    .price-location {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
    .price-price {
        font-size: 1.25rem;
        margin-bottom: 3rem;
    }
    .price-button {
        font-size: 1.1rem;
    }
    .price-icon {
        font-size: 3.5rem;
    }
}


/*------------------------------------
 SCREENS 920px AND SMALLER
-------------------------------------- */
@media (max-width: 920px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 15vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }   
    .intro-header {
        font-size: 2.9rem;
        margin-bottom: 1rem;
    }
    .intro-txt{
        font-size: 1.2rem;
        line-height: 1.6;
    }

    /*---Price Section---*/
    .price-section {
        padding-top: 1.5vh;
        padding-bottom: 2vh;
    }
    .price-container {
        gap: 1.5rem;
    }

    .price-card {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .price-title {
        font-size: 1.4rem;
        margin-bottom: 0rem;
    }
    .price-location {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
    .price-price {
        font-size: 1.25rem;
        margin-bottom: 3rem;
    }
    .price-button {
        font-size: 1.1rem;
    }
    .price-icon {
        font-size: 3.5rem;
    }
}


/*------------------------------------
 SCREENS 860px AND SMALLER
-------------------------------------- */
@media (max-width: 860px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 15vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }   
    .intro-header {
        font-size: 2.9rem;
        margin-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
    .intro-txt{
        font-size: 1.1rem;
        line-height: 1.6;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /*---Price Section---*/
    .price-section {
        padding-top: 1.5vh;
        padding-bottom: 2vh;
    }
    .price-container {
        gap: 1.5rem;
    }

    .price-card {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .price-title {
        font-size: 1.4rem;
        margin-bottom: 0rem;
    }
    .price-location {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
    .price-price {
        font-size: 1.25rem;
        margin-bottom: 3rem;
    }
    .price-button {
        font-size: 1.1rem;
    }
    .price-icon {
        font-size: 3.5rem;
    }
}


/*------------------------------------
 SCREENS 780px AND SMALLER
-------------------------------------- */
@media (max-width: 780px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 15vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }   
    .intro-header {
        font-size: 2.6rem;
        margin-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
    .intro-txt{
        font-size: 1.1rem;
        line-height: 1.6;
        padding-left: 3.3rem;
        padding-right: 3.3rem;
    }

    /*---Price Section---*/
    .price-section {
        padding-top: 1.5vh;
        padding-bottom: 2vh;
    }
    .price-container {
        gap: 1.5rem;
    }

    .price-card {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .price-title {
        font-size: 1.4rem;
        margin-bottom: 0rem;
    }
    .price-location {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
    .price-price {
        font-size: 1.25rem;
        margin-bottom: 3rem;
    }
    .price-button {
        font-size: 1.1rem;
    }
    .price-icon {
        font-size: 3.5rem;
    }
}


/*------------------------------------
 SCREENS 700px AND SMALLER
-------------------------------------- */
@media (max-width: 700px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 14vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }   
    .intro-header {
        font-size: 2.3rem;
        margin-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
    .intro-txt{
        font-size: 1.1rem;
        line-height: 1.6;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /*---Price Section---*/
    .price-section {
        padding-top: 1.5vh;
        padding-bottom: 2vh;
    }
    .price-container {
        gap: 1.5rem;
    }

    .price-card {
        padding-top: 0.3rem;
        padding-bottom: 1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .price-title {
        font-size: 1.7rem;
        margin-bottom: 0rem;
    }
    .price-location {
        font-size: 1.35rem;
        margin-bottom: 3rem;
    }
    .price-price {
        font-size: 1.25rem;
        margin-bottom: 3rem;
    }
    .price-button {
        font-size: 1.3rem;
    }
    .price-icon {
        font-size: 3.5rem;
    }
}


/*------------------------------------
 SCREENS 620px AND SMALLER
-------------------------------------- */
@media (max-width: 620px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 14vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }   
    .intro-header {
        font-size: 2.1rem;
        margin-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
    .intro-txt{
        font-size: 1.1rem;
        line-height: 1.6;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    /*---Price Section---*/
    .price-section {
        padding-top: 1.5vh;
        padding-bottom: 2vh;
    }
    .price-container {
        gap: 1.5rem;
    }

    .price-card {
        padding-top: 0.3rem;
        padding-bottom: 1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .price-title {
        font-size: 1.7rem;
        margin-bottom: 0rem;
    }
    .price-location {
        font-size: 1.35rem;
        margin-bottom: 3rem;
    }
    .price-price {
        font-size: 1.25rem;
        margin-bottom: 3rem;
    }
    .price-button {
        font-size: 1.3rem;
    }
    .price-icon {
        font-size: 3.5rem;
    }
}


/*------------------------------------
 SCREENS 560px AND SMALLER
-------------------------------------- */
@media (max-width: 560px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 14vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }   
    .intro-header {
        font-size: 1.85rem;
        margin-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
    .intro-txt{
        font-size: 0.95rem;
        line-height: 1.6;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    /*---Price Section---*/
    .price-section {
        padding-top: 1.5vh;
        padding-bottom: 2vh;
    }
    .price-container {
        gap: 1.5rem;
    }

    .price-card {
        padding-top: 0.3rem;
        padding-bottom: 1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .price-title {
        font-size: 1.7rem;
        margin-bottom: 0rem;
    }
    .price-location {
        font-size: 1.35rem;
        margin-bottom: 3rem;
    }
    .price-price {
        font-size: 1.25rem;
        margin-bottom: 3rem;
    }
    .price-button {
        font-size: 1.3rem;
    }
    .price-icon {
        font-size: 2.5rem;
    }
}


/*------------------------------------
 SCREENS 480px AND SMALLER
-------------------------------------- */
@media (max-width: 480px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 13vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }   
    .intro-header {
        font-size: 1.75rem;
        margin-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
    .intro-txt{
        font-size: 0.86rem;
        line-height: 1.6;
        padding-left: 0;
        padding-right: 0;
    }

    /*---Price Section---*/
    .price-section {
        padding-top: 1.5vh;
        padding-bottom: 2vh;
    }
    .price-container {
        gap: 1.5rem;
    }

    .price-card {
        padding-top: 0.3rem;
        padding-bottom: 1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .price-title {
        font-size: 1.35rem;
        margin-bottom: 0rem;
        letter-spacing: 0.5px;
    }
    .price-location {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
    .price-price {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
    .price-button {
        font-size: 1.1rem;
    }
    .price-icon {
        font-size: 2.5rem;
    }
}


/*------------------------------------
 SCREENS 400px AND SMALLER
-------------------------------------- */
@media (max-width: 400px) {
    /*---Intro Section---*/
    .intro {
        margin-top: 13vh;
        padding-left: 1rem;
        padding-right: 1rem;
    }   
    .intro-header {
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }
    .intro-txt{
        font-size: 0.86rem;
        line-height: 1.6;
    }

    /*---Price Section---*/
    .price-section {
        padding-top: 1.5vh;
        padding-bottom: 2vh;
    }
    .price-container {
        gap: 1.5rem;
    }

    .price-card {
        padding-top: 0.3rem;
        padding-bottom: 1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .price-title {
        font-size: 1.55rem;
        margin-bottom: 0rem;
        letter-spacing: 0.5px;
    }
    .price-location {
        font-size: 1.25rem;
        margin-bottom: 3rem;
    }
    .price-price {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
    .price-button {
        font-size: 1.1rem;
    }
    .price-icon {
        font-size: 2.5rem;
    }
}